ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.divider {
  background-color: #353535;
  height: 1px;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  color: dodgerblue;
  cursor: pointer;
  transition: color 0.5s;
}

.spacer {
  width: 100%;
  height: 70px;
}

.headerlink {
  font-size: 17px;
}

.app {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px) {
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}