body {
  color: white;
}

.divider {
  background-color: #353535;
  height: 1px;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 22px;
  margin: 0px;
}

button {
  color: white;
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

a {
  color: dodgerblue;
  cursor: pointer;
  transition: color 0.5s;
}

a:hover, a:focus {
  color: skyblue;
  transition: color 0.3s;
}

header {
  padding: 2px 32px;
  box-shadow: 0 0 20px 0 black;
  width: 100%;
  background-color: black;
  z-index: 1;
  position: fixed;
  top: 0;
}

.spacer {
  width: 100%;
  height: 75px;
}

.app-title {
  display: inline-block;
  margin: 7px 0px;
  font-weight: 500;
  font-size: 19px;
  margin: 0px;
}

.headerlink {
  font-size: 17px;
}

.app-title-button {
  margin: 15px 0px;
}