.slider {
  max-width: 300px;
  cursor: pointer;
}

.slidecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.slidecontainer input {
  margin: 15px 0;
}

.slider-hsl-h {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 7px;
  box-shadow: 0 0 3px 0 lightgray;
}

.slider-hsl-h::-moz-range-track {
  background-color: transparent;
}

.slider-hsl-s {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 7px;
  box-shadow: 0 0 3px 0 gray;
}

.slider-hsl-s::-moz-range-track {
  background-color: transparent;
}

.slider-hsl-l {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 7px;
  box-shadow: 0 0 3px 0 gray;
}

.slider-hsl-l::-moz-range-track {
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(220,70%,50%);
  box-shadow: 0 0 15px 0px black;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.1s;
}

.slider::-moz-range-thumb {
  appearance: none;
  background-color: rgba(10,10,10,1);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  transition: transform 0.1s;
}

.slider::-webkit-slider-thumb:active {
  box-shadow: 0 0 10px 0px black;
  transition: box-shadow 0.2s;
  transform: scale(1.2);
  transition: transform 0.2s;
}

.slider::-moz-range-thumb:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.triangle {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
}

.triangle-container {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -4px;
}

.subMenuContainer {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
  justify-content: space-around;
}

.subMenu {
  font-weight: 500;
  font-size: 16px;
  color: gray;
}

.discardsave-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.editor-title {
  margin: 15px 15px;
}