.newpalette, .needtologin {
  color: white;
  text-decoration: none;
}

section {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.needtologin {
  font-weight: 300;
  font-size: 15px;
  color: lightgray;
  margin: 50px;
}