.newpalette, .needtologin {
  color: white;
  text-decoration: none;
}

/* .needtologin {
  font-weight: 300;
  font-size: 15px;
  color: lightgray;
  margin: 50px;
} */

.dashboard-section {
  /* display: flex;
  align-content: center; */
}