.loginform-container {
  background-color: rgb(17,17,17);
  padding: 15px 15px 30px 15px;
  
}

.loginform-container h2 {
  margin-top: 10px;
  margin-bottom: 8px;
}

.login-title {
  margin: 0;
  color: hsl(0, 0%, 100%);
}

@media(min-width: 600px) {
  .loginform-container {
    width: 540px;
    margin: 0 auto;
    background-color: rgb(22,23,24);
    padding: 15px 15px 30px 15px;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }
}